{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %} 
{% load static %}

<div class="shadow p-3 mb-5 bg-white m-5" style="border-radius: 50px">
  <h1 class="text-center">Change Your Password</h1>
  <hr>
  <div class="row">
      <div class="col-12 col-md-6">
          <img style="width: 60%; margin: auto" src="{% static 'img/pass.png' %}" alt="image">
      </div>
      <div class="col-12 col-md-6 ">
          <form class="login-form-style" method="post"  novalidate>
              <br>
              <br>
              {% csrf_token %}
              {% if form.non_field_errors %}
              {% for er in form.non_field_errors %}
              <p class="bg-danger text-white p-3">{{er}}</p>
              {% endfor %}
              {% endif %}
              <!-- {{form | crispy }} -->
              {% for fm in form%} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
              {% endfor %}
              <br/>
              <button class="btn btn-primary w-100 rounded-pill" type="submit">Submit</button>
              <br />
          </form>
      </div>
      
  </div>
</div>
{% endblock %}