{% extends "base.html" %}
{%block content%}
    <div class="container">
        <h1 class="">Password Reset Confirm</h1>
        <div class="">
            <form method="post" class="">
                {% csrf_token %}
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_new_password1">New password:</label>
                <input class="form-control w-50" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_new_password2">New password confirmation:</label>
                <input class="form-control w-50" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                <div class="form-buttons pt-5">
                    <button class="btn btn-primary" type="submit">
                        Reset Password
                    </button>
                    {% for field in form %}
                        {% if field.errors %}
                            <small>{{ field.errors|striptags  }}</small>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    </div>
{%endblock content%}