<!-- password_reset.html -->
{% extends 'base.html' %}


{%block content%}
    <div class="container">
        <h1 class="">Reset Password</h1>
        <div class="w-full mt-10">
            <form method="post" class="">
                {% csrf_token %}
                <input type="email" class="form-control w-50" placeholder="Email" name="email" autocomplete="off" maxlength="254" required="" id="id_email">
                <div class="pt-5">
                    <button class="btn btn-primary" type="submit">
                        Send
                    </button>
                    <button class="btn btn-warning">
                        <a href="{%url 'login' %}" >Cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
{%endblock content%}
