{% extends 'base.html' %} {% load static %} {% block content %}

<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
  <div class="col-12 col-md-6">
    <h1>Welcome to TutorMediaBD</h1>
    <p>
      Tutoring is private academic support, usually provided by an expert teacher; someone with deep knowledge or defined expertise in a particular subject or set of subjects.
      A tutor, formally also called an academic tutor, is a person who provides assistance or tutelage to one or more people on certain subject areas or skills. The tutor spends a few hours on a daily, weekly, or monthly basis to transfer their expertise on the topic or skill to the student (also called a tutee). Tutoring can take place in different settings.
    </p>
  </div>
  <div class="col-12 mx-auto col-md-6 ">
    <img style="object-fit:cover; " src="{% static 'tutor1.png' %}" class="img-fluid" alt="Responsive image" >
  </div>
</div>

<br>
<br>

{% comment %} <div class="swiffy-slider slider-item-reveal slider-nav-round slider-item-ratio slider-item-ratio-21x9" id="slider1">
  <ul class="slider-container">
      <li><img src="{% static 'img/c2.png' %}" loading="lazy" alt="..."></li>
      <li><img src="{% static 'img/c1.png' %}" loading="lazy" alt="..."></li>
      <li><img src="{% static 'img/c4.png' %}" loading="lazy" alt="..."></li>
      <li><img src="{% static 'img/c6.png' %}" loading="lazy" alt="..."></li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators slider-indicators-square d-none d-md-flex">
      <button class="" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class="active"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
  </div>

  <div class="slider-indicators slider-indicators-sm slider-indicators-dark slider-indicators-round d-md-none slider-indicators-highlight">
      <button class="" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class="active"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
  </div>
</div> {% endcomment %}
<div class="swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein" id="swiffy-animation">
  <ul class="slider-container" id="container1">
      <li id="slide1" class=""><img src="{% static 'img/slider-1.jpg' %}" alt="..." loading="lazy"></li>
      <li id="slide2" class=""><img src="{% static 'img/slider-3.jpg' %}" alt="..." loading="lazy"></li>
      <li id="slide3" class=""><img src="{% static 'img/4th.jpg' %}" alt="..." loading="lazy"></li>
      <li id="slide4" class="slide-visible"><img src="{% static 'img/1.jpeg' %}" alt="..." loading="lazy"></li>
      <li id="slide5" class=""><img src="{% static 'img/c1.png' %}" alt="..." loading="lazy"></li>
      <li id="slide6" class=""><img src="{% static 'img/c2.png' %}" alt="..." loading="lazy"></li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go to previous"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>

  <div class="slider-indicators">
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class="active"></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
  </div>
</div>

<br>
<br>

        <h3 class="text-center">Filter  Our Tuitions</h3>
        <div class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation slider-item-first-visible">
            <div class="slider-container">
                {% for cat in categories %}
                <div class="slide-visible">
                    <div>
                        <h3 class="mb-0 h6" style="color:#DF1E1E;"></h3>
                        <a href="{% url 'tuition_wise_category' cat.slug %}" class="text-decoration-none text-light btn btn-primary rounded-pill" >{{cat.classes}}</a>
                        <small class="text-muted text-uppercase"></small>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="button" class="slider-nav" aria-label="Go left"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
            <div class="slider-indicators" style="justify-content:right;margin-left: 3rem;">
                <button class="active" aria-label="Go to slide"></button>
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class=""></button>
            </div>
        </div>



      <h4 class="text-bg-primary text-center">{{data | length}} results found</h4>
      <div class="row pt-5">
        {% for d in data %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
          <div class="card  m-2">
            <div class="card-body ">
              <img class="card-img-top" src="{{ d.image.url }}" alt="Card image cap">
                <a class="mt-2 card-title text-decoration-none" href="{% url 'tuition_details' d.id %}">{{d.subject_name}}</a>
                {% comment %} <p><b>Salary :</b> {{d.salary}}</p> {% endcomment %}
                {% if d.is_available %}
                <p>Available</p>
                {% else %}
                <p>Not Available</p>
                {% endif %}
                {% comment %} <p>Total Comments: {{ d.comments.count }}</p> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
<br>
<br>
{% comment %} tutors_details {% endcomment %}
<h1 class="text-center">Our Tutors</h1>
<br>
<br>
<div class="swiffy-slider slider-item-show3 slider-nav-round slider-nav-page">
  <ul class="slider-container">
    {% for t in tutor %}
      <li>
          <div class="card border-0">
              <div class="ratio ratio-1x1">
                  <img src="{{ t.image.url }}" class="card-img-top" loading="lazy" alt="...">
              </div>
              <div class="card-body p-0 pt-4">
                  <div class="">
                      <h3 class="flex-grow-1 h5 text-center">{{ t.user.first_name}} {{ t.user.last_name}}</h3>
                      <p class="flex-grow-1 text-center">Subject : {{ t.subject }} </p>
                  </div>
              </div>
          </div>
      </li>
    {% endfor %}
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
</div>

<br><br><br>
{% comment %} carosel {% endcomment %}




{% endblock %}
